<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
  </system.web>
  <connectionStrings >
    <add name="ComsoftAAIConnection" connectionString= "Data Source=localhost;Initial Catalog=COMSOFT_AAI;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ActualYear" value="20102011" />
    <add key="headerContent" value="AIRPORTS AUTHORITY OF INDIA, {0} AIRPORT" />
    <add key="formName" value="FORM {0}" />
  </appSettings>
</configuration>