

.grid-sltrow {
    background: #ddd;
    font-weight: bold;
}

.SubTotalRowStyle {
    border: solid 1px Black;
    background-color: #D8D8D8;
    font-weight: bold;
}

.GrandTotalRowStyle {
    border: solid 1px Gray;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.GroupHeaderStyle {
    border: solid 1px Black;
    background-color: #4682B4;
    color: #ffffff;
    font-weight: bold;
}

.serh-grid {
    width: 85%;
    border: 1px solid #6AB5FF;
    background: #fff;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana;
}
